
<html lang="en">
    <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <div class="container">
      <div style="float: right;">
        <button    class="btn btn-primary" (click)="logout()">Log Out</button>
    </div>
    
        <div style="text-align: center;">
            <h2 >ABC Produts</h2>
        </div>
        
      
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/products']">Prodcuts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']">AboutUS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
            
          </ul>
        </nav>
          <h2 style="color: blue;">
            Why are we so passionate about this?
          </h2>
          <div><p>
            Because we learned a lot of things the hard way.
      
            Like many of you, we started small. We were the new kids in our industry and the HubSpot community. No one knew we existed. Since then, we’ve become one of the most trusted inbound resources on the web and helped countless teams do the same in their industries -- but it was far from easy.
            
            We failed...a lot. In fact, you can read all about it here, but we learned from those mistakes. Today, all we want to do is help you avoid and overcome these obstacles and create breakthroughs.
            
            We are a values-based organization built on passion, helpfulness, and dependability.
          </p></div>
        
        





    </div>
    
    </body>
    </html>
  <app-logout></app-logout>







































